$main-padding : 20px;
$main-transition : 0.3s;
$main-border-radius:6px;

/* colors */

// light mode
html[data-mode="Light"]{
  --text-color : hsl(200, 15%, 8%); /* Very Dark Blue */
  --background-color :  hsl(0, 0%, 98%); /* Very Light Gray */
  --elements-color:  hsl(0, 0%, 100%); /* White */
  --box-shadow-color: hsl(0, 0%, 52%);
  --filter-color:#f8f8f8;
  --inputs-color: hsl(0, 0%, 52%); /* Dark Gray */
}

// dark mode
html[data-mode="Dark"]{
  --text-color:hsl(0, 0%, 100%); /* Dark Gray */
  --background-color: hsl(207, 26%, 17%); /* Very Dark Blue */
  --elements-color:hsl(209, 23%, 22%); /* Dark Blue */
  --box-shadow-color:hsl(197, 33%, 15%);
  --filter-color:hsl(197, 33%, 15%);
  --inputs-color: hsl(0, 0%, 52%); /* Dark Gray */
}