$main-padding : 20px;
$main-transition : 0.3s;
$Very-Dark-Blue: hsl(200, 15%, 8%);
$Dark-Gray: hsl(0, 0%, 52%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Dark-Blue : hsl(207, 26%, 17%);
$Dark-Blue: hsl(209, 23%, 22%);

$main-color:red;